# Секция домены
# Тут указать ваш домен
DOMAIN_NAME=nplanner.ru

# Тут укажите субдомены для серврисов !!! важно прописать ip адрес вашего сервера к этим субдоменам
SUBDOMAIN=n8n
PGADMIN_SUBDOMAIN=pgadmin
APPSMITH_SUBDOMAIN=appsmith

# Directus
DIRECTUS_ADMIN_EMAIL=admin@example.com
DIRECTUS_ADMIN_PASSWORD=your_secure_admin_password
DIRECTUS_DB_PASSWORD=your_secure_db_password
# Указываем наш часовой пояс
GENERIC_TIMEZONE=Europe/Moscow

# Тут указываем email для того чтобы получить сертификаты и по нему будем входить в PGAdmin
SSL_EMAIL=admin@example.com

# Секция пароли
#Пароль для входа в PGAdmin
PASSWORD_PGADMIN=your_secure_pgadmin_password

# Пароль для postgres на вашем сервер, делайте его длинным
POSTGRES_PASSWORD=your_long_secure_postgres_password

# Appsmith
APPSMITH_ADMIN_EMAIL=admin@example.com
APPSMITH_ADMIN_PASSWORD=your_secure_appsmith_password

# Budibase
# Use the main port in the builder for your self hosting URL, e.g. localhost:10000
MAIN_PORT=10000
BUDIBASE_SUBDOMAIN=budibase

# This section contains all secrets pertaining to the system
# These should be updated
API_ENCRYPTION_KEY=your_secure_api_encryption_key
JWT_SECRET=your_secure_jwt_secret
MINIO_ACCESS_KEY=your_minio_access_key
MINIO_SECRET_KEY=your_minio_secret_key
COUCH_DB_PASSWORD=your_couchdb_password
COUCH_DB_USER=your_couchdb_user
REDIS_PASSWORD=your_redis_password
INTERNAL_API_KEY=your_internal_api_key

# This section contains variables that do not need to be altered under normal circumstances
# APP_PORT=4002
# WORKER_PORT=4003
# MINIO_PORT=4004
# COUCH_DB_PORT=4005
# COUCH_DB_SQS_PORT=4006
REDIS_PORT=6379
BUDIBASE_ENVIRONMENT=PRODUCTION
SQL_MAX_ROWS=


MINIO_ROOT_USER=root
MINIO_ROOT_PASSWORD=your_secure_minio_root_password


# An admin user can be automatically created initially if these are set
BB_ADMIN_USER_EMAIL=admin@example.com
BB_ADMIN_USER_PASSWORD=your_secure_bb_admin_password

# A path that is watched for plugin bundles. Any bundles found are imported automatically/
PLUGINS_DIR=
ROLLING_LOG_MAX_SIZE=